@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --text: #171208;
    --background: #fbf8f4;
    --primary: #00ccfa;
    --secondary: #c2b7eb;
    --accent: #3d597f;

    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary-foreground: 0 0% 98%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --text: #f7f2e8;
    --background: #0b0804;
    --primary: #05d1ff;
    --secondary: #1f1448;
    --accent: #809bc2;

    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* FONT FAMILY */
@layer base {
  /* Montserrat */
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Montserrat-Regular.woff") format("woff");
  }
  /* Poppins */
  @font-face {
    font-family: "PoppinsThin";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/Poppins-Thin.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsExtraLight";
    font-style: normal;
    font-weight: 200;
    src: url("/fonts/Poppins-ExtraLight.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsLight";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/Poppins-Light.woff") format("woff");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Poppins-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsMedium";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/Poppins-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsSemiBold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/Poppins-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsBold";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/Poppins-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "PoppinsExtraBold";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/Poppins-ExtraBold.woff") format("woff");
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--background);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--muted);
    border-radius: 100vh;
    border: 1.5px solid var(--accent);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--primary);
  }

  .dark .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--muted);
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
  }
}
